<h1>Edit ticket</h1>

<form id="edit-ticket" name="ticket">
  <div class="form-group">
    <label for="title"> Title:</label>
    <input class="form-control" type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="form-group">
    <label for="description"> Description:</label>
    <input  class="form-control" type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <% if(window.current_user_type != "customer"){%>

    <div class="form-group">
      <label for="status"> Status:</label>
      <select name="status_id">
        <% for(var i=0; i < window.statuses.length; i++){ %>
          <% if(status == window.statuses[i][1]){ %>
            <option value="<%= window.statuses[i][0] %>" selected="true"> <%= window.statuses[i][1] %> </option>
          <% } else {%>
            <option value="<%= window.statuses[i][0] %>"> <%= window.statuses[i][1] %> </option>
          <% } %>        
        <% } %>
      </select>
    </div>
    
  <% } %>

  <div class="actions">
    <input class="btn btn-default" type="submit" value="Update Ticket" />
  </div>

</form>

<a href="#/index">Back</a>