<td><%= title %></td>
<td><%= description %></td>
<td><%= status %></td>
<td><%= created_at %></td>
<td><%= updated_at %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
